<form class="form-horizontal" role="form" id="formRegister">
    <dl class="dl-horizontal">
        <dt>Вес</dt>
        <dd>
            <input type="text" class="form-control" placeholder="100,50" id="Weight"/>
            <span id="valWaight"></span>
        </dd>
        <dt>Опись</dt>
        <dd>
            <input type="text" class="form-control" placeholder="рубашка,брюки и носки" id="Inventory" />
            <span id="valInventory"></span>
        </dd>
        <dt>Фамилия получателя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Иванов" id="Recipient_LastName" />
            <span id="valRecLastName"></span>
        </dd>
        <dt>Имя получателя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Иван" id="Recipient_FirstName" />
            <span id="valRecFirstName"></span>
        </dd>
        <dt>Отчество получателя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Иванович" id="Recipient_Patronymic" />
            <span id="valRecPatronymic"></span>
        </dd>
        <dt>Адрес получателя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Москва" id="Recipient_Address" />
            <span id="valRecAddress"></span>
        </dd>
        <dt>Фамилия отправителя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Петров" id="Sender_LastName" />
            <span id="valSendLastName"></span>
        </dd>
        <dt>Имя отправителя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Петр" id="Sender_FirstName" />
            <span id="valSendFirstName"></span>
        </dd>
        <dt>Отчество отправителя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Петрович" id="Sender_Patronymic" />
            <span id="valSendPatronymic"></span>
        </dd>
        <dt>Адрес отправителя</dt>
        <dd>
            <input type="text" class="form-control" placeholder="Брянск" id="Sender_Address" />
            <span id="valSendAddress"></span>
        </dd>
    </dl>
    <button type="button" class="btn btn-primary" id="buttonRegister" onclick="onRegister()">Зарегистрировать</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="buttonCancel">Отменить</button>
</form>