@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Почтовый офис</h2>
            <form class="form-horizontal" role="form" id="formSearch">
                <input type="text" name="search" id="inputSearch" />
                <input type="button" value="Поиск" id="buttonSearch"/>
            </form>
        </div>
        <div class="panel-body">
            <div class="btn btn-group">
                <a href="#registerModal" class="btn btn-primary" data-toggle="modal">Регистрация посылки</a>
                <div id="registerModal" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Заголовок модального окна -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Регистрация посылки</h4>
                            </div>
                            <!-- Основное содержимое модального окна -->
                            <div class="modal-body">
                                <div class="container-fluid" id="register">
                                    @{ await Html.RenderPartialAsync("_ParcelRegister"); }
                                </div>
                            </div>
                            <!-- Футер модального окна -->
                            <div id="mfooter" class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchresults">
            @*@{ await Html.RenderPartialAsync("_ParcelSearch", (IEnumerable<ParcelViewModel>) ViewBag.Parcels); }*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
        searchRender();

        $(document).ready(function() {
            $('#buttonSearch').click(searchRender);
        });

        function closeModal(obj) {
            if (obj) {
                $('#registerModal').modal("hide");
                searchRender();
                clearForm();
            };
        }

        function searchRender() {
            $.ajax({
                url: '@Url.Action("ParcelSearch", "Home")',
                data: $('#formSearch').serialize(),
                type: 'GET',
                success: function(obj) {
                    $('#searchresults').html(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function onRegister() {
            $.ajax({
                url: '@Url.Action("ParcelRegister", "Home")',
                data: getFormJson(),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                success: function(obj) {
                    closeModal(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function getFormJson() {
            var obj = {
                weight: $('#Weight').val(),
                inventory: $('#Inventory').val(),
                recipient: {
                    firstName: $('#Recipient_FirstName').val(),
                    lastName: $('#Recipient_LastName').val(),
                    patronymic: $('#Recipient_Patronymic').val(),
                    address: $('#Recipient_Address').val()
                },
                sender: {
                    firstName: $('#Sender_FirstName').val(),
                    lastName: $('#Sender_LastName').val(),
                    patronymic: $('#Sender_Patronymic').val(),
                    address: $('#Sender_Address').val()
                }
            };
            return JSON.stringify(obj);
        }

        function clearForm() {
            $('#Weight').val("");
            $('#Inventory').val("");
            $('#Recipient_FirstName').val("");
            $('#Recipient_LastName').val("");
            $('#Recipient_Patronymic').val("");
            $('#Recipient_Address').val("");
            $('#Sender_FirstName').val("");
            $('#Sender_LastName').val("");
            $('#Sender_Patronymic').val("");
            $('#Sender_Address').val("");
        }
    </script>
}