@model PostTest.Core.Models.ParcelRegisterViewModel

@using System.Collections.Generic
@using Newtonsoft.Json
@using PostTest.Core.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Почтовый офис</h2>
            <form asp-controller="Home" asp-action="ParcelSearch" asp-antiforgery="false" method="get" class="form-horizontal" role="form" id="formSearch">
                <input type="text" name="search" id="inputSearch" />
                <input type="button" value="Поиск" id="buttonSearch"/>
            </form>
        </div>
        <div class="panel-body">
            <div class="btn btn-group">
                <a href="#registerModal" class="btn btn-primary" data-toggle="modal">Регистрация посылки</a>
                <div id="registerModal" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Заголовок модального окна -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Регистрация посылки</h4>
                            </div>
                            <!-- Основное содержимое модального окна -->
                            <div class="modal-body">
                                <div class="container-fluid" id="register">
                                    @*@{ await Html.RenderPartialAsync("_ParcelRegister", (ParcelRegisterViewModel)ViewBag.Register); }*@
                                </div>
                            <!-- Футер модального окна -->
                            <div id="mfooter" class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchresults">
            @*@{ await Html.RenderPartialAsync("_ParcelSearch", (IEnumerable<ParcelViewModel>) ViewBag.Parcels); }*@
        </div>
    </div>
</div>

@section Scripts {
    <script>
        searchRender();
        registerRender();

        $(document).ready(function() {
            $('#buttonSearch').click(searchRender);
        });

        $(document).ready(function() {
            $('#inputRegister').click(function() {
                alert("qqq");
                $.ajax({
                    url: '@Url.Action("ParcelRegister", "Home")',
                    data: ' ',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function(obj) {
                        closeModal();
                    },
                    error: function(obj) {
                        alert('Error!');
                    }
                });
            });
        });

        function closeModal(obj) {
            if (obj == true) {
                $('#registerModal').modal("hide");
                searchRender();
            }
        }

        function searchRender() {
            $.ajax({
                url: '@Url.Action("ParcelSearch", "Home")',
                data: $('#formSearch').serialize(),
                type: 'GET',
                success: function(obj) {
                    $('#searchresults').html(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function registerRender() {
            $.ajax({
                url: '@Url.Action("ParcelRegister", "Home")',
                data: null,
                type: 'GET',
                success: function(obj) {
                    $('#register').html(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function onRegister() {
            $.ajax({
                url: '@Url.Action("ParcelRegister", "Home")',
                data: getFormObj($('#formRegister')),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                success: function(obj) {
                    closeModal(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function getFormObj(form) {
            var param = {};
            form.serializeArray().forEach(function(item, i, arr) {
                param[item.Name] = item;
            });
            return JSON.stringify(param);
        }
    </script>
}