@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Почтовый офис</h2>
            <form class="form-horizontal" role="form" id="formSearch">
                <input type="text" name="search" id="inputSearch" />
                <input type="button" value="Поиск" id="buttonSearch"/>
            </form>
        </div>
        <div class="panel-body">
            <div class="btn btn-group">
                <a href="#registerModal" class="btn btn-primary" data-toggle="modal">Регистрация посылки</a>
                <div id="registerModal" class="modal fade">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <!-- Заголовок модального окна -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Регистрация посылки</h4>
                            </div>
                            <!-- Основное содержимое модального окна -->
                            <div class="modal-body">
                                <div class="container-fluid" id="register" name="register">
                                    <form class="form-horizontal form-inline" role="form" id="formRegister" name="formRegister">
                                        <div class="form-group">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <label class="control-label" for="parcel_weight">Вес</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="100,50" id="parcel_weight" name="parcel_weight" />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="parcel_inventory">Опись</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="рубашка,брюки и носки" id="parcel_inventory" name="parcel_inventory"/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="recipient_lastName">Фамилия получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Иванов" id="recipient_lastName" name="recipient_lastName" maxlength="20" required />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="recipient_firstName">Имя получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Иван" id="recipient_firstName" name="recipient_firstName" maxlength="20" required />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="recipient_patronymic">Отчество получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Иванович" id="recipient_patronymic" name="recipient_patronymic" maxlength="20" required />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="recipient_address">Адрес получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Москва" id="recipient_address" name="recipient_address" maxlength="50" required />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="sender_lastName">Фамилия отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Петров" id="sender_lastName" name="sender_lastName" maxlength="20" required />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="sender_firstName">Имя отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Петр" id="sender_firstName" name="sender_firstName" maxlength="20" required />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="sender_patronymic">Отчество отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Петрович" id="sender_patronymic" name="sender_patronymic" maxlength="20" required />
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="sender_address">Адрес отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Брянск" id="sender_address" name="sender_address" maxlength="50" required />
                                                </dd>
                                            </dl>
                                            <input type="submit" class="btn btn-primary" value="Зарегистрировать">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" id="buttonCancel">Отменить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Футер модального окна -->
                            <div id="mfooter" class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchresults">
            <!-- Список посылок -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        "use strict";

        searchRender();

        $(document).ready(function() {
            $('#buttonSearch').click(searchRender);
        });

        $('#formRegister').submit(function () {
            var validator = $("#formRegister").validate();
            if (validator.form()) {
                register();
                this.form.reset();
                searchRender();
            }
            return false;
        });

        function searchRender() {
            $.ajax({
                url: '@Url.Action("ParcelSearch", "Home")',
                data: $('#formSearch').serialize(),
                type: 'GET',
                success: function(obj) {
                    $('#searchresults').html(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function register() {
            $.ajax({
                url: '@Url.Action("ParcelRegister", "Home")',
                data: getFormJson(),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                success: function(obj) {
                    $('#registerModal').modal("hide");
                },
                error: function(obj) {
                    alert('Не валидные параметры!');
                }
            });
        }

        function getFormJson() {
            var parcel = {
                weight: $('#parcel_weight').val(),
                inventory: $('#parcel_inventory').val(),
                recipient: {
                    firstName: $('#recipient_firstName').val(),
                    lastName: $('#recipient_lastName').val(),
                    patronymic: $('#recipient_patronymic').val(),
                    address: $('#recipient_address').val()
                },
                sender: {
                    firstName: $('#sender_firstName').val(),
                    lastName: $('#sender_lastName').val(),
                    patronymic: $('#sender_patronymic').val(),
                    address: $('#sender_address').val()
                }
            };
            return JSON.stringify(parcel);
        }
    </script>
}