@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Почтовый офис</h2>
            <form class="form-horizontal" role="form" id="formSearch">
                <input type="text" name="search" id="inputSearch" />
                <input type="button" value="Поиск" id="buttonSearch"/>
            </form>
        </div>
        <div class="panel-body">
            <div class="btn btn-group">
                <a href="#registerModal" class="btn btn-primary" data-toggle="modal">Регистрация посылки</a>
                <div id="registerModal" class="modal fade">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <!-- Заголовок модального окна -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Регистрация посылки</h4>
                            </div>
                            <!-- Основное содержимое модального окна -->
                            <div class="modal-body">
                                <div class="container-fluid" id="register">
                                    <form class="form-horizontal form-inline" id="formRegister" role="form">
                                        <div class="form-group">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <label class="control-label" for="Weight">Вес</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="100,50" id="Weight" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Inventory">Опись</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="рубашка,брюки и носки" id="Inventory"/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Recipient_LastName">Фамилия получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Иванов" id="Recipient_LastName" name="Recipient_LastName" maxlength="20" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Recipient_FirstName">Имя получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Иван" id="Recipient_FirstName" name="Recipient_FirstName" maxlength="20" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Recipient_Patronymic">Отчество получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Иванович" id="Recipient_Patronymic" name="Recipient_Patronymic" maxlength="20" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Recipient_Address">Адрес получателя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Москва" id="Recipient_Address" name="Recipient_Address" maxlength="50" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Sender_LastName">Фамилия отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Петров" id="Sender_LastName" name="Sender_LastName" maxlength="20" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Sender_FirstName">Имя отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Петр" id="Sender_FirstName" name="Sender_FirstName" maxlength="20" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Sender_Patronymic">Отчество отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Петрович" id="Sender_Patronymic" name="Sender_Patronymic" maxlength="20" required/>
                                                </dd>
                                                <dt>
                                                    <label class="control-label" for="Sender_Address">Адрес отправителя</label>
                                                </dt>
                                                <dd>
                                                    <input type="text" class="form-control" placeholder="Брянск" id="Sender_Address" name="Sender_Address" maxlength="50" required/>
                                                </dd>
                                            </dl>
                                            <input type="submit" class="btn btn-primary" value="Зарегистрировать">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" id="buttonCancel">Отменить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Футер модального окна -->
                            <div id="mfooter" class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchresults">
            <!-- Список посылок -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        searchRender();

        $(document).ready(function() {
            $('#buttonSearch').click(searchRender);
        });

        $('#formRegister').submit(function () {
            var validator = $("#formRegister").validate();
            if (validator.form()) {
                register();
                this.form.reset();
                searchRender();
            }
            return false;
        });

        function searchRender() {
            $.ajax({
                url: '@Url.Action("ParcelSearch", "Home")',
                data: $('#formSearch').serialize(),
                type: 'GET',
                success: function(obj) {
                    $('#searchresults').html(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function register() {
            $.ajax({
                url: '@Url.Action("ParcelRegister", "Home")',
                data: getFormJson(),
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                success: function(obj) {
                    $('#registerModal').modal("hide");
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

        function getFormJson() {
            var obj = {
                weight: $('#Weight').val(),
                inventory: $('#Inventory').val(),
                recipient: {
                    firstName: $('#Recipient_FirstName').val(),
                    lastName: $('#Recipient_LastName').val(),
                    patronymic: $('#Recipient_Patronymic').val(),
                    address: $('#Recipient_Address').val()
                },
                sender: {
                    firstName: $('#Sender_FirstName').val(),
                    lastName: $('#Sender_LastName').val(),
                    patronymic: $('#Sender_Patronymic').val(),
                    address: $('#Sender_Address').val()
                }
            };
            return JSON.stringify(obj);
        }
    </script>
}