@model PostTest.Core.Models.ParcelRegisterViewModel

@using System.Collections.Generic
@using Newtonsoft.Json
@using PostTest.Core.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Почтовый офис</h2>
            <form asp-controller="Home" asp-action="ParcelSearch" asp-antiforgery="false" method="get" class="form-horizontal" role="form" id="formSearch">
                <input type="text" name="search" id="inputSearch" />
                <input type="button" value="Поиск" id="btSearch"/>
            </form>
        </div>
        <div class="panel-body">
            <div class="btn btn-group">
                <a href="#registerModal" class="btn btn-primary" data-toggle="modal">Регистрация посылки</a>
                <div id="registerModal" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <!-- Заголовок модального окна -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeModal()">×</button>
                                <h4 class="modal-title">Регистрация посылки</h4>
                            </div>
                            <!-- Основное содержимое модального окна -->
                            <div class="modal-body" id="register">
                                @*@{ await Html.RenderPartialAsync("_ParcelRegister", (ParcelRegisterViewModel) ViewBag.Register); }*@
                            </div>
                            <!-- Футер модального окна -->
                            <div id="mfooter" class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchresults">
            @*@{ await Html.RenderPartialAsync("_ParcelSearch", (IEnumerable<ParcelViewModel>) ViewBag.Parcels); }*@
        </div>
    </div>
</div>

@section Scripts {
    <script>

        searchRender();

        $.ajax({
            url: '@Url.Action("ParcelRegister", "Home")',
            data: null,
            type: 'GET',
            success: function(obj) {
                $('#register').html(obj);
            },
            error: function(obj) {
                alert('Error!');
            }
        });
        
        $(document).ready(function() {
            $('#btSearch').click(searchRender);
        });

        $(document).ready(function() {
            $('#inputRegister').click(function () {
                $.ajax({
                    url: '@Url.Action("ParcelRegister", "Home")',
                    data: '@JsonConvert.SerializeObject(Model)',
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (obj) {
                        closeModal();
                    },
                    error: function(obj) {
                        alert('Error!');
                    }
                });
            });
        });

        function closeModal() {
            $('#registerModal').modal("hide");
            searchRender();
        }

        function searchRender() {
            $.ajax({
                url: '@Url.Action("ParcelSearch", "Home")',
                data: $('#formSearch').serialize(),
                type: 'GET',
                success: function(obj) {
                    $('#searchresults').html(obj);
                },
                error: function(obj) {
                    alert('Error!');
                }
            });
        }

    </script>
}